body {
    overflow-x: hidden;
}

.clickable-row {
    cursor: pointer;
}

.sortable {
    cursor: pointer;
}

#explorer {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Dragging row style */
.dragging-row {
    background-color: transparent;
    cursor: move !important;
}

.dragging-row > td:not(:first-child) {
    display: none;
}

.dragging-row > td:first-child {
    background-color: transparent;
    border: none;
    outline: none;
}

.dragging-row:hover {
    background-color: transparent !important;
}

.ui-sortable-placeholder {
    display: none;
}

#toast-container {
    margin-top: 60px;
}

.bc-link {
    cursor: pointer;
}

.user-quota-circle {
    margin: 10px auto 10px auto;
    float: none;
}

.fm-breadcrumb {
    text-overflow: ellipsis;
}

.plain-link {
    color: #666666;
    cursor: pointer !important;
}